<h1>フォロー中のユーザー一覧</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>ユーザー名</th>
		</tr>
	</thead>

	<tbody>
<!--  変数bookを使ってtitle,bodyを以下で表示  -->
		<% @user.followings.each do |user| %>
		<tr>
			<td>
				<%= attachment_image_tag user, :profile_image, size: 50, fallback:"no_image.jpg"%>
				-------
				<%= user.name %>
				-------
 			</td>
			<td>
				<%if current_user != user %>
					<% if user.followed_by?(current_user) %>
						<p><%= link_to "フォロー中", user_relationships_path(user.id),method: :delete %></p>
					<% else %>
						<p><%= link_to "フォロー",user_relationships_path(user.id),method: :post %></p> %>
					<% end %>
				<% end %>
 			</td>
		</tr>
		<% end %>
	</tbody>
</table>
