/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
    @import "bootstrap";


.templete {
	float: left;
}
.main {
	float: left;
	margin-left: 15%;
}

/* header部分 */
.header {
	height:50px;
	width: 100%;
	line-height: 50px;
	color: #fff;
	background-color: #333333;
}
.app-name {
	font-size: 25px;
	margin-left: 5%;
}

.header-btn {
	float: right;
	margin-right: 5%;
}
.header-btn-text {
	color: #fff;
}

.btn-group-vertical {
	width: 100%;
}
.btn-info {
	width: 100%;
}
.btn-success {
	width: 100%;
}
.top-page {
	width: 80%;
	margin: 0 auto;
}
.btn-primary {
	background-color: #337ab7;
	color: #fff;
	border-color: #337ab7;
}
.table {
	width: 100%;
}
.user-edit {
	margin-left: 15%;
}
.user-edit-btn {
	width: 100%;
}
.book-edit {
	width: 90%;
	margin: 0 auto;
}
.edit-form {
	width: 100%;
}
.book-edit-btn {
	width: 100%;
}
footer {
	width: 100%;
	height: 30px;
}
.footer-text {
	width: 30%;
	float: right;
}
.about {
	width: 100%;
	padding-left: 5%;
}
.sign-up {
	width: 100%;
	margin-left: 5%;
}



.image1 {
background-image: url(test1.jpg);
}
.image2 {
background-image: url(test2.jpg);
}
.image3 {
background-image: url(test3.jpg);
}
.image4 {
background-image: url(test4.jpg);
}
.image5 {
background-image: url(test5.jpg);
}
#container{
  height: 500px;
}