<% if @comment.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <li class="error-message"><%= @comment.errors.count %>
<%= "error" %></li>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>